
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
*.zip
*.import
*.png.import
*.import
*.import
*.import
sketchfab/fantasy_chemistry_table/yash pixel.png.import
sketchfab/fantasy_chemistry_table/textures/vintage_wood4_normal.png.import
sketchfab/fantasy_chemistry_table/textures/vintage_wood4_metallicRoughness.png.import
sketchfab/fantasy_chemistry_table/textures/vintage_wood4_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/vintage_wood2_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/vintage_wood1_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/plank_wood_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/metal2_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/material_normal.png.import
sketchfab/fantasy_chemistry_table/textures/material_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/grain_wood_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/cork1_normal.png.import
sketchfab/fantasy_chemistry_table/textures/cork1_baseColor.jpeg.import
sketchfab/fantasy_chemistry_table/textures/candle_handle_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/book_pages_normal.png.import
sketchfab/fantasy_chemistry_table/textures/book_cover7_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/book_cover6_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/book_cover5_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/book_cover4_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/book_cover3_normal.jpeg.import
sketchfab/fantasy_chemistry_table/textures/book_cover3_baseColor.jpeg.import
sketchfab/fantasy_chemistry_table/textures/book_cover2_normal.png.import
sketchfab/fantasy_chemistry_table/textures/book_cover2_baseColor.png.import
sketchfab/fantasy_chemistry_table/textures/book_cover1_baseColor.png.import
sketchfab/fantasy_chemistry_table/scene.gltf.import
sketchfab/fantasy_chemistry_table/potionSeller.png.import
sketchfab/cased_potion_bottle/textures/potion05_metal_normal.png.import
sketchfab/cased_potion_bottle/textures/potion05_metal_metallicRoughness.png.import
sketchfab/cased_potion_bottle/textures/potion05_metal_baseColor.jpeg.import
sketchfab/cased_potion_bottle/textures/potion05_metal2_normal.png.import
sketchfab/cased_potion_bottle/textures/potion05_metal2_metallicRoughness.png.import
sketchfab/cased_potion_bottle/textures/potion05_metal2_baseColor.jpeg.import
sketchfab/cased_potion_bottle/textures/potion05_glass_normal.png.import
sketchfab/cased_potion_bottle/textures/potion05_glass_metallicRoughness.png.import
sketchfab/cased_potion_bottle/textures/potion05_glass_baseColor.jpeg.import
sketchfab/cased_potion_bottle/scene.gltf.import
potionSeller.png.import
icon.png.import
Assets/wizard_sprite_sheet.png.import
Assets/wizard.png.import
Assets/tile2.png.import
Assets/tile.png.import
Assets/shotgun.png.import
Assets/revolver.png.import
Assets/potionSeller.png.import
Assets/pistol.png.import
Assets/pillar.png.import
Assets/lamp.png.import
Assets/enemy.png.import
Assets/doom_shriji_shoot_sprite.png.import
Assets/crosshair.png.import
Assets/cowboy_guard.png.import
